[submodule "Pong"]
	path = Pong
	url = https://github.com/revanthvarmak/Pong.git
[submodule "BlappyFird"]
	path = BlappyFird
	url = https://github.com/revanthvarmak/BlappyFird.git
[submodule "Snake"]
	path = Snake
	url = https://github.com/revanthvarmak/Snake.git
